In [1]:
from bs4 import BeautifulSoup
import requests
import urllib.request

import time
import pandas as pd
import scipy as sc
import numpy as np

import statsmodels.formula.api as sm

import matplotlib.pyplot as plt 
plt.style.use('ggplot')
%matplotlib inline  
plt.rcParams['figure.figsize'] = (10, 6) 
from bs4 import UnicodeDammit

In [42]:
def getgrades(csv1, csv2):
    grades1=pd.read_csv(csv1, encoding="utf8")
    grades2=pd.read_csv(csv2, encoding="utf8")
    grds=[grades1, grades2]
    grades=pd.concat(grds,ignore_index=True)
    i=0
    grades=grades.reset_index(drop=True)
    hc=grades['sumHeadcount']
    while i < len(hc):
        if hc[i]== 'ds':
            grades=grades.drop(i, axis=0)
        i+=1
    grades=grades.reset_index(drop=True)
    return(grades)

In [28]:
def combinegrades(grades):
    i=1
    n=2
    gradesclean=pd.DataFrame([],columns=['Num', 'Section', 'Subject', 'A', 'B', 'C', 'D', 'E', 'W', 'Other'])
    gradesclean=gradesclean.append({'Num':1050, 'Section':1, 'Subject':'ASTR - Astronomy', 'A':0, 'B':0, 'C':0, 'D':0,
                                    'E':0, 'W':0, 'Other':2}, ignore_index=True)
    while i<len(grades['sumHeadcount']):
        if grades['Subject'].iloc[i]==gradesclean['Subject'].iloc[-1]:
            if grades['Catalog Num'].iloc[i]==gradesclean['Num'].iloc[-1]:
                fail=0
                for m in range(1,n):
                    if grades['Section'].iloc[i]==gradesclean['Section'].iloc[-m]:
                        gradesclean[grades['Grade Group'].iloc[i]].iat[-m]=grades['sumHeadcount'].iloc[i]
                        break
                    fail+=1
                if fail==n-1:
                    n+=1
                    gradesclean=gradesclean.append({'Num':grades['Catalog Num'].iloc[i],
                                                    'Section':grades['Section'].iloc[i],
                                                    'Subject':grades['Subject'].iloc[i], 'A':0, 'B':0,
                                                    'C':0,'D':0, 'E':0, 'W':0, 'Other':0}, ignore_index=True)
                    gradesclean[grades['Grade Group'].iloc[i]].iat[-1]=grades['sumHeadcount'].iloc[i]
            else:
                n=2
                gradesclean=gradesclean.append({'Num':grades['Catalog Num'].iloc[i], 'Section':grades['Section'].iloc[i],
                                                'Subject':grades['Subject'].iloc[i], 'A':0, 'B':0,
                                                'C':0,'D':0, 'E':0, 'W':0, 'Other':0}, ignore_index=True)
                gradesclean[grades['Grade Group'].iloc[i]].iat[-1]=grades['sumHeadcount'].iloc[i]
        else:
            n=2
            gradesclean=gradesclean.append({'Num':grades['Catalog Num'].iloc[i], 'Section':grades['Section'].iloc[i],
                                            'Subject':grades['Subject'].iloc[i], 'A':0, 'B':0,
                                            'C':0,'D':0, 'E':0, 'W':0, 'Other':0}, ignore_index=True)
            gradesclean[grades['Grade Group'].iloc[i]].iat[-1]=grades['sumHeadcount'].iloc[i]
        i+=1
    return(gradesclean)

In [43]:
sgrades=['fall16sci.csv']
egrades=['fall16eng.csv']
i=0
cleaned=[0,0]
while i<len(sgrades):
    gradess=getgrades(sgrades[i],egrades[i])
    gradescleans=combinegrades(gradess)
    cleaned[i]=gradescleans
    i+=1

In [44]:
gradescleans

,Num,Section,Subject,A,B,C,D,E,W,Other
0,1050,1,ASTR - Astronomy,30,40,26,6,6,2,2
1,1060,1,ASTR - Astronomy,11,9,22,6,12,4,0
2,1080,1,ASTR - Astronomy,15,20,11,8,2,2,8
3,2500,1,ASTR - Astronomy,12,7,1,0,0,0,0
4,4060,1,ASTR - Astronomy,9,1,0,0,0,0,0
5,5580,1,ASTR - Astronomy,2,3,0,0,0,0,1
6,1006,1,BIOL - Biology,39,24,6,1,1,2,0
7,1010,1,BIOL - Biology,37,28,7,1,9,7,2
8,1030,302,BIOL - Biology,5,2,2,1,1,1,0
9,1030,301,BIOL - Biology,5,4,1,1,3,0,0
10,1210,4,BIOL - Biology,23,42,15,4,3,4,1
11,1210,3,BIOL - Biology,67,87,65,30,54,22,1
12,1210,2,BIOL - Biology,40,85,67,21,24,6,1
13,1210,71,BIOL - Biology,15,8,10,3,12,4,0
14,1210,70,BIOL - Biology,10,5,6,2,7,7,0
15,1210,1,BIOL - Biology,60,121,96,26,21,11,0
16,1210,20,BIOL - Biology,17,13,8,1,3,0,0
17,1330,301,BIOL - Biology,6,5,1,0,1,0,0
18,2005,1,BIOL - Biology,11,1,0,0,0,0,0
19,2010,1,BIOL - Biology,24,47,31,15,15,8,1
20,2015,2,BIOL - Biology,13,5,2,0,1,3,0
21,2015,3,BIOL - Biology,9,3,2,0,1,0,0
22,2020,1,BIOL - Biology,56,87,100,35,37,25,1
23,2021,1,BIOL - Biology,5,7,4,1,2,1,0
24,2030,1,BIOL - Biology,93,38,21,6,3,1,1
25,2210,1,BIOL - Biology,12,14,9,4,5,3,0
26,2325,14,BIOL - Biology,18,54,106,5,31,15,1
27,2325,1,BIOL - Biology,33,61,94,10,37,16,1
28,2420,2,BIOL - Biology,18,23,14,1,1,4,2
29,2420,1,BIOL - Biology,97,60,13,3,3,2,3
...,...,...,...,...,...,...,...,...,...,...
519,5205,1,ME EN - Mechanical Engineering,4,1,0,0,0,0,0
520,5220,1,ME EN - Mechanical Engineering,7,9,2,0,0,0,0
521,5250,1,ME EN - Mechanical Engineering,12,5,1,2,0,1,0
522,5300,1,ME EN - Mechanical Engineering,10,8,4,1,0,0,0
523,5510,1,ME EN - Mechanical Engineering,24,16,3,0,0,2,0
524,5535,1,ME EN - Mechanical Engineering,7,6,0,0,0,2,0
525,5600,1,ME EN - Mechanical Engineering,3,2,0,0,0,0,0
526,5620,1,ME EN - Mechanical Engineering,13,3,0,0,0,1,0
527,5700,1,ME EN - Mechanical Engineering,2,3,0,0,0,0,0
528,5800,1,ME EN - Mechanical Engineering,12,17,1,0,0,0,0
529,5810,1,ME EN - Mechanical Engineering,12,1,0,0,0,0,0
530,5910,1,ME EN - Mechanical Engineering,0,0,0,0,0,0,8
531,5920,35,ME EN - Mechanical Engineering,18,0,0,0,0,0,0
532,5960,3,ME EN - Mechanical Engineering,5,6,2,0,0,0,0
533,5960,1,ME EN - Mechanical Engineering,1,3,1,0,0,0,0
534,5960,2,ME EN - Mechanical Engineering,16,5,0,0,0,0,0
535,1800,1,MSE - Materials Science And Engg,9,10,0,0,1,2,1
536,2010,1,MSE - Materials Science And Engg,11,7,7,3,3,0,0
537,2160,1,MSE - Materials Science And Engg,28,29,25,6,10,10,0
538,2170,1,MSE - Materials Science And Engg,2,3,3,1,1,0,0
539,3010,1,MSE - Materials Science And Engg,21,5,0,0,0,0,0
540,3032,1,MSE - Materials Science And Engg,4,12,8,1,0,1,0
541,3210,1,MSE - Materials Science And Engg,4,8,9,0,0,0,0
542,3410,1,MSE - Materials Science And Engg,22,10,2,1,0,0,0
543,5073,1,MSE - Materials Science And Engg,12,1,0,0,0,0,0
544,5098,1,MSE - Materials Science And Engg,0,0,0,0,0,0,19
545,5475,1,MSE - Materials Science And Engg,5,2,0,0,0,0,0
546,3000,1,NUCL - Nuclear Engineering,11,7,2,1,1,1,0
547,4900,1,NUCL - Nuclear Engineering,5,0,0,0,0,0,0
548,5999,1,NUCL - Nuclear Engineering,0,0,0,0,0,0,9