In [1]:
from bs4 import BeautifulSoup
import requests
import urllib.request

import time
import pandas as pd
import scipy as sc
import numpy as np

import statsmodels.formula.api as sm

import matplotlib.pyplot as plt 
plt.style.use('ggplot')
%matplotlib inline  
plt.rcParams['figure.figsize'] = (10, 6) 
from bs4 import UnicodeDammit

In [2]:
grades=pd.read_csv('grade_crosstab_data.csv', encoding="utf8")
i=0
hc=grades['sumHeadcount']
while i <= 1696:
    if hc[i]== 'ds':
        grades=grades.drop(i, axis=0)
        
    i+=1
grades=grades.reset_index(drop=True)
grades

,Catalog Num,Course Level,Grade Group,Section,Subject,sumHeadcount
0,1050,1000-1999,Other,1,ASTR - Astronomy,2
1,1050,1000-1999,W,1,ASTR - Astronomy,2
2,1050,1000-1999,E,1,ASTR - Astronomy,6
3,1050,1000-1999,D,1,ASTR - Astronomy,6
4,1050,1000-1999,C,1,ASTR - Astronomy,26
5,1050,1000-1999,B,1,ASTR - Astronomy,40
6,1050,1000-1999,A,1,ASTR - Astronomy,30
7,1060,1000-1999,W,1,ASTR - Astronomy,4
8,1060,1000-1999,E,1,ASTR - Astronomy,12
9,1060,1000-1999,D,1,ASTR - Astronomy,6
10,1060,1000-1999,C,1,ASTR - Astronomy,22
11,1060,1000-1999,B,1,ASTR - Astronomy,9
12,1060,1000-1999,A,1,ASTR - Astronomy,11
13,1080,1000-1999,Other,1,ASTR - Astronomy,8
14,1080,1000-1999,W,1,ASTR - Astronomy,2
15,1080,1000-1999,E,1,ASTR - Astronomy,2
16,1080,1000-1999,D,1,ASTR - Astronomy,8
17,1080,1000-1999,C,1,ASTR - Astronomy,11
18,1080,1000-1999,B,1,ASTR - Astronomy,20
19,1080,1000-1999,A,1,ASTR - Astronomy,15
20,2500,2000-2999,C,1,ASTR - Astronomy,1
21,2500,2000-2999,B,1,ASTR - Astronomy,7
22,2500,2000-2999,A,1,ASTR - Astronomy,12
23,4060,4000-4999,B,1,ASTR - Astronomy,1
24,4060,4000-4999,A,1,ASTR - Astronomy,9
25,5580,5000-5999,Other,1,ASTR - Astronomy,1
26,5580,5000-5999,B,1,ASTR - Astronomy,3
27,5580,5000-5999,A,1,ASTR - Astronomy,2
28,1006,1000-1999,W,1,BIOL - Biology,2
29,1006,1000-1999,E,1,BIOL - Biology,1
...,...,...,...,...,...,...
1606,3730,3000-3999,A,1,PHYS - Physics,6
1607,3740,3000-3999,Other,1,PHYS - Physics,2
1608,3740,3000-3999,E,1,PHYS - Physics,2
1609,3740,3000-3999,C,1,PHYS - Physics,5
1610,3740,3000-3999,B,1,PHYS - Physics,8
1611,3740,3000-3999,A,1,PHYS - Physics,13
1612,3760,3000-3999,E,1,PHYS - Physics,1
1613,3760,3000-3999,D,1,PHYS - Physics,2
1614,3760,3000-3999,B,1,PHYS - Physics,8
1615,3760,3000-3999,A,1,PHYS - Physics,7
1616,4060,4000-4999,W,1,PHYS - Physics,1
1617,4060,4000-4999,A,1,PHYS - Physics,5
1618,4410,4000-4999,W,1,PHYS - Physics,2
1619,4410,4000-4999,E,1,PHYS - Physics,1
1620,4410,4000-4999,B,1,PHYS - Physics,12
1621,4410,4000-4999,A,1,PHYS - Physics,9
1622,5010,5000-5999,E,1,PHYS - Physics,4
1623,5010,5000-5999,B,1,PHYS - Physics,3
1624,5010,5000-5999,A,1,PHYS - Physics,12
1625,5450,5000-5999,E,1,PHYS - Physics,1
1626,5450,5000-5999,D,1,PHYS - Physics,3
1627,5450,5000-5999,C,1,PHYS - Physics,1
1628,5450,5000-5999,B,1,PHYS - Physics,10
1629,5450,5000-5999,A,1,PHYS - Physics,17
1630,5510,5000-5999,W,1,PHYS - Physics,1
1631,5510,5000-5999,B,1,PHYS - Physics,2
1632,5510,5000-5999,A,1,PHYS - Physics,8
1633,5003,5000-5999,E,1,STAT - Statistics,1
1634,5003,5000-5999,C,1,STAT - Statistics,1
1635,5003,5000-5999,A,1,STAT - Statistics,4

In [43]:
i=1
n=2
gradesclean=pd.DataFrame([],columns=['Num', 'Section', 'Subject', 'A', 'B', 'C', 'D', 'E', 'W', 'Other'])
gradesclean=gradesclean.append({'Num':1050, 'Section':1, 'Subject':'ASTR - Astronomy', 'A':0, 'B':0, 'C':0, 'D':0,
                                'E':0, 'W':0, 'Other':2}, ignore_index=True)
while i<1636:
    if grades['Subject'].iloc[i]==gradesclean['Subject'].iloc[-1]:
        if grades['Catalog Num'].iloc[i]==gradesclean['Num'].iloc[-1]:
            fail=0
            for m in range(1,n):
                if grades['Section'].iloc[i]==gradesclean['Section'].iloc[-m]:
                    gradesclean[grades['Grade Group'].iloc[i]].iat[-m]=grades['sumHeadcount'].iloc[i]
                    break
                fail+=1
            if fail==n-1:
                n+=1
                gradesclean=gradesclean.append({'Num':grades['Catalog Num'].iloc[i],
                                                'Section':grades['Section'].iloc[i],
                                                'Subject':grades['Subject'].iloc[i], 'A':0, 'B':0,
                                                'C':0,'D':0, 'E':0, 'W':0, 'Other':0}, ignore_index=True)
                gradesclean[grades['Grade Group'].iloc[i]].iat[-1]=grades['sumHeadcount'].iloc[i]
        else:
            n=2
            gradesclean=gradesclean.append({'Num':grades['Catalog Num'].iloc[i], 'Section':grades['Section'].iloc[i],
                                            'Subject':grades['Subject'].iloc[i], 'A':0, 'B':0,
                                            'C':0,'D':0, 'E':0, 'W':0, 'Other':0}, ignore_index=True)
            gradesclean[grades['Grade Group'].iloc[i]].iat[-1]=grades['sumHeadcount'].iloc[i]
    else:
        n=2
        gradesclean=gradesclean.append({'Num':grades['Catalog Num'].iloc[i], 'Section':grades['Section'].iloc[i],
                                        'Subject':grades['Subject'].iloc[i], 'A':0, 'B':0,
                                        'C':0,'D':0, 'E':0, 'W':0, 'Other':0}, ignore_index=True)
        gradesclean[grades['Grade Group'].iloc[i]].iat[-1]=grades['sumHeadcount'].iloc[i]
    i+=1
gradesclean

      Num Section            Subject   A    B    C   D   E   W Other
0    1050       1   ASTR - Astronomy  30   40   26   6   6   2     2
1    1060       1   ASTR - Astronomy  11    9   22   6  12   4     0
2    1080       1   ASTR - Astronomy  15   20   11   8   2   2     8
3    2500       1   ASTR - Astronomy  12    7    1   0   0   0     0
4    4060       1   ASTR - Astronomy   9    1    0   0   0   0     0
5    5580       1   ASTR - Astronomy   2    3    0   0   0   0     1
6    1006       1     BIOL - Biology  39   24    6   1   1   2     0
7    1010       1     BIOL - Biology  37   28    7   1   9   7     2
8    1030     302     BIOL - Biology   5    2    2   1   1   1     0
9    1030     301     BIOL - Biology   5    4    1   1   3   0     0
10   1210       4     BIOL - Biology  23   42   15   4   3   4     1
11   1210       3     BIOL - Biology  67   87   65  30  54  22     1
12   1210       2     BIOL - Biology  40   85   67  21  24   6     1
13   1210      71     BIOL - Biology  15    8   10   3  12   4     0
14   1210      70     BIOL - Biology  10    5    6   2   7   7     0
15   1210       1     BIOL - Biology  60  121   96  26  21  11     0
16   1210      20     BIOL - Biology  17   13    8   1   3   0     0
17   1330     301     BIOL - Biology   6    5    1   0   1   0     0
18   2005       1     BIOL - Biology  11    1    0   0   0   0     0
19   2010       1     BIOL - Biology  24   47   31  15  15   8     1
20   2015       2     BIOL - Biology  13    5    2   0   1   3     0
21   2015       3     BIOL - Biology   9    3    2   0   1   0     0
22   2020       1     BIOL - Biology  56   87  100  35  37  25     1
23   2021       1     BIOL - Biology   5    7    4   1   2   1     0
24   2030       1     BIOL - Biology  93   38   21   6   3   1     1
25   2210       1     BIOL - Biology  12   14    9   4   5   3     0
26   2325      14     BIOL - Biology  18   54  106   5  31  15     1
27   2325       1     BIOL - Biology  33   61   94  10  37  16     1
28   2420       2     BIOL - Biology  18   23   14   1   1   4     2
29   2420       1     BIOL - Biology  97   60   13   3   3   2     3
..    ...     ...                ...  ..  ...  ...  ..  ..  ..   ...
315  2215       4     PHYS - Physics  15    5    0   0   1   1     1
316  2215       2     PHYS - Physics  13    1    1   0   1   2     1
317  2215       7     PHYS - Physics  14    5    1   1   0   1     0
318  2215       6     PHYS - Physics  16    3    0   1   0   2     0
319  2215       5     PHYS - Physics  12    5    0   0   0   4     0
320  2215       3     PHYS - Physics  16    8    0   0   0   1     0
321  2215       1     PHYS - Physics  13    1    0   0   2   3     0
322  2220      11     PHYS - Physics  36   62   34  13   9   3     0
323  2220       1     PHYS - Physics  57   78   34  17   6   6     0
324  2225       3     PHYS - Physics   8    1    0   0   2   0     0
325  2225       1     PHYS - Physics   6    3    1   0   0   0     0
326  2225       2     PHYS - Physics  16    1    0   0   0   0     0
327  2225       4     PHYS - Physics   5    0    0   0   0   0     0
328  2500       1     PHYS - Physics   4    0    0   0   1   0     0
329  3111       1     PHYS - Physics  28    2    0   0   0   0     0
330  3210       1     PHYS - Physics  18    4    1   2   3   1     1
331  3220       1     PHYS - Physics   8    3    2   1   2   1     0
332  3410       1     PHYS - Physics  11    7    2   1   1   0     0
333  3610       1     PHYS - Physics   5   13    1   0   1   1     0
334  3719       1     PHYS - Physics   7    3    2   0   1   0     0
335  3730       2     PHYS - Physics   2    9    3   1   2   2     0
336  3730       1     PHYS - Physics   6    5    2   0   3   3     0
337  3740       1     PHYS - Physics  13    8    5   0   2   0     2
338  3760       1     PHYS - Physics   7    8    0   2   1   0     0
339  4060       1     PHYS - Physics   5    0    0   0   0   1     0
340  4410       1     PHYS - Physics   9   12    0   0   1   2     0
341  5010       1     PHYS - Physics  12    3    0   0   4   0     0
342  5450       1     PHYS - Physics  17   10    1   3   1   0     0
343  5510       1     PHYS - Physics   8    2    0   0   0   1     0
344  5003       1  STAT - Statistics   4    0    1   0   1   0     0

[345 rows x 10 columns]